{% extends "base.html" %}

{% block style %}
<link rel="stylesheet/less" href="/static/style/article.less">
{% end %}

{% block script %}
<script src="/static/script/article.js"></script>
{% end %}

{% block wrapper %}
<a name="top"></a>
<div id="preview">
</div>
<div id="content" class="panel clear">
    <center><h2>{{ article.title }}</h2></center>
    <center><span id="time">{{ article.time }}</span>
        {% if current_user %}
        <div id="opt">
            <form action="/article/{{ article.id }}" method="post">
                <input type="submit" class="btn btn-alizarin btn-sm" style="margin-top:10px;" value="删除"/>
                <input name="_method" value="delete" type="hidden"/>
            </form>
            <form action="/editor/{{ article.id }}" method="get">
                <input type="submit" class="btn btn-emerald btn-sm" style="margin-top:10px;" value="编辑"/>
            </form>
        </div>
        {% end %}
    </center>
    <hr>
    {{ mdparse(article.content) }}
    <hr>
    <ul style="list-style:none;margin-left:0;">
        {% for t in article.tags %}
        <li style="float:left;margin-right:5px;"><a href="/tag/{{ t.tagname }}/" class="btn btn-peter-river btn-sm">{{ t.tagname }}</a></li>
        {% end %}
    </ul>
</div>
<div id="comment">
    {% for comment in comments %}
    {{ modules.Comment(article, comment) }}
    {% end %}
</div>
<a name="reply"></a>
<div id="reply" class="panel clear">
    <form action="/article/{{ article.id}}/comment/" method="post">
        <input type="text" name="guestname" placeholder="昵称(必填)" maxlength="20" value="{{ guestname }}">
        <input type="text" name="email" placeholder="邮箱(必填)" value="{{ email }}">
        <input type="text" name="homepage" placeholder="主页(选填)" value="{{ homepage }}">
        <input type="hidden" name="ref">
        <textarea id="replybox" name="content" cols="30" rows="10" maxlength="1000"></textarea>
        <span id="tip"></span><span id="cancel">撤销</span>
        <input type="submit" value="评论" class="btn btn-turquoise">
    </form>
</div>
{% end %}

{% block script_bottom %}

{% end %}
