<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>14px</title>
	{% block style %}{% end %}
	<script src="/static/script/jquery.min.js"></script>
	{% block script %}{% end %}
	<script src="/static/script/form.js"></script>
</head>
<body>
	<div id="header">14px</div>
	<div id="navbar" class="clear">
		<div>
			<a href="/">首页</a>
			<a href="">Sample</a>
			<a href="">留言板</a>
			<a href="/article/21#top">关于</a>
		</div>
	</div>
	<div id="wrapper" class="clear">
		{% block wrapper %}{% end block %}
	</div>
	<div id="footer" class="clear">
		<div id="about">
			<p>关于我</p>
			<p>90后，感兴趣的领域是Web、计算机图形学和人工智能，颇爱前端研究的准后台工程师。工作系统为OpenSuse13.1，使用Python作为主要开发语言，常用IDE为PyCharm。开发此站记录技术心得，以激励自己追求卓越，不忘初心。</p>
		</div>
		<div id="contact">
			<p>联系我</p>
			<ul>
				<li>QQ: 602478243</li>
				<li>邮箱: 602478243@qq.com</li>
			</ul>
		</div>
		<div id="declare">
			<a href="https://github.com/pythoner-jing/14px">Copyleft ! 2014, 14px Powered By Tornado</a>
		</div>
	</div>
</body>
<script type="text/javascript">
{% block script_bottom %}{% end %}
</script>
</html>