{% extends "base.html" %}

{% block style %}
<link rel="stylesheet" href="/static/style/editor.css">
{% end %}

{% block script %}
<script src="/static/script/editor.js"></script>
{% end %}

{% block wrapper %}
<a name="top"></a>
<div id="preview">
</div>
<div id="content" class="panel clear">
	<p class="text text-orange">发布新文章</p>
	<form action="/article/{{ article['id'] }}" method="post">
		<input type="text" name="title" placeholder="标题" value="{{ article['title'] }}">
		<input type="text" name="tag" placeholder="标签" value="{{ tags }}">
		<input type="text" name="cover" placeholder="封面" value="{{ article['cover'] }}">
		<textarea id="editor" name="editor" value="">{{ article["content"] }}</textarea>
		<input type="submit" value="发布" class="btn btn-sun-flower">
		<button type="button" id="preview_btn" class="btn btn-emerald">预览</button>
		{% if len(article["title"]) %}<input name="_method" value="put" type="hidden"/>{% end %}
	</form>
</div>
{% end %}

{% block script_bottom %}

{% end %}