{% extends "base.html" %}

{% block style %}
<link rel="stylesheet/less" href="/static/style/index.less">
{% end %}

{% block script %}
<script src="/static/script/index.js"></script>
<script src="/static/script/sidebar.js"></script>
{% end %}

{% block wrapper %}
<div id="content" class="clear">
	{% for article in articles %}
	<div class="article panel clear">
		<a href="/article/{{ article.id }}" target="_blank" class="link link-turquoise">{{ article.title }}</a>
		<a href="/article/{{ article.id }}" target="_blank"><img src="{{ article.cover }}" width="300px" height="200px"></a>
		<p>{{ article.brief }}</p>
		<ul>
			{% for t in article.tags %}
			<li><a href="/tag/{{ t.tagname }}/" class="btn btn-peter-river btn-sm">{{ t.tagname }}</a></li>
			{% end %}
		</ul>
		<hr>
		<ul>
			<li>{{ article.time }}</li>
			<li>|</li>
			<li>{{ article.click }} clicks</li>
		</ul>
	</div>
	{% end %}
	{% if paging %}
	<div id="paging">
		<a href="{{ paging["first"] }}" class="btn btn-peter-river">首页</a>
		{% if paging["pre"] %}
		<a href="{{ paging["pre"] }}" class="btn btn-peter-river">上一页</a>
		{% end %}
		<input placeholder="{{ paging['current'] }} / {{ paging['last'] }}" style="width:70px;text-align:center;" type="text" id="page">
		<a href="" id="jump" class="btn btn-peter-river">跳页</a>
		{% if paging["next"] %}
		<a href="{{ paging["next"] }}" class="btn btn-peter-river">下一页</a>
		{% end %}
		<a href="{{ paging["last"] }}" class="btn btn-peter-river">末页</a>
	</div>
	{% end %}
</div>
{% include "sidebar.html" %}
{% end %}
