{% extends "base.html" %}

{% block style %}
<link rel="stylesheet/less" href="/static/style/index.less">
{% end %}

{% block script %}
<script src="/static/script/index.js"></script>
<script src="/static/script/sidebar.js"></script>
{% end %}

{% block wrapper %}
<div id="content" class="clear">
	{% for article in articles %}
		{{ modules.Brief(article) }}
	{% end %}
	{% if paging %}
	<div id="paging">
		<a href="{{ paging['first'] }}" class="btn btn-peter-river">首页</a>
		{% if paging["pre"] %}
		<a href="{{ paging['pre'] }}" class="btn btn-peter-river">上一页</a>
		{% end %}
		<input placeholder="{{ paging['current'] }} / {{ paging['last'] }}" style="width:70px;text-align:center;" type="text" id="page">
		<a href="" id="jump" class="btn btn-peter-river">跳页</a>
		{% if paging["next"] %}
		<a href="{{ paging['next'] }}" class="btn btn-peter-river">下一页</a>
		{% end %}
		<a href="{{ paging['last'] }}" class="btn btn-peter-river">末页</a>
	</div>
	{% end %}
</div>
{% include "sidebar.html" %}
{% end %}
