<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <style>
        input[type="submit"] {
            border-style: none;
            background-color: transparent;
        }
    </style>
</head>
<body>
<form action="/rest/" method="get">
    <input type="submit" value="get请求"/>
</form>
<form action="/rest/" method="post">
    <input type="submit" value="post请求"/>
</form>
<form action="/rest/" method="post">
    <input type="submit" value="put请求"/>
    <input type="hidden" name="_method" value="put"/>
</form>
<form action="/rest/" method="post">
    <input type="submit" value="delete请求">
    <input type="hidden" name="_method" value="delete"/>
</form>
<form action="/rest/" method="post">
    <input type="submit" value="fix请求">
    <input type="hidden" name="_method" value="fix"/>
</form>
</body>
</html>