<div id="sidebar" class="clear">
	<div id="comment" class="panel">
		<p>最新评论</p>
		<ul>
			{% for comment in comments %}
				{{ modules.RecentComment(comment) }}
			{% end %}
		</ul>
	</div>
	<div id="hot" class="panel">
		<p>热门文章</p>
		<ul>
			{% for article in tops %}
				{{ modules.Top(article) }}
			{% end %}
		</ul>
	</div>
	<div id="link" class="panel">
		<p>链接</p>
		<ul>
			<li><a href="" class="link link-amethyst">Fancy2D</a></li>
			<li><a href="" class="link link-amethyst">开源中国</a></li>
			<li><a href="" class="link link-amethyst">Github</a></li>
		</ul>
	</div>
	{% if not current_user %}
	<div id="login" class="panel">
		<p>登录</p>
		<form action="/auth/" class="clear" method="post">
			<input type="text" class="select" placeholder="用户名" name="username">
			<input type="password" class="select" placeholder="密码" name="password">
			<input type="submit" value="登录" class="btn btn-emerald">
		</form>
	</div>
	{% else %}
	<div id="function" class="panel">
		<p>功能</p>
		<ul>
			<li><a href="/editor/" class="link link-sun-flower">发布新文章</a></li>
			<li><a href="" class="link link-sun-flower">编辑链接</a></li>
			<li><a href="/auth/" class="link link-sun-flower">注销</a></li>
		</ul>
	</div>
	{% end %}
</div>

{% block script_bottom %}{% end %}
