@import "base";

#preview {
	.content;
	border: 1px dashed #aaa;
}

#content {
	padding: 10px;
	background-color: #fff;
	margin-bottom: 30px;
	p {
		&:first-of-type {
			font-size: 24px;
		}
	}

	form {
		margin-top: 10px;
		& > * {
			margin-bottom: 10px;
		}
	}

	input[type="text"] {
		width: 968px;
	}

	input[type="submit"] {
		float: right;
	}

	#preview_btn {
		float: right;
		margin-right: 10px;
	}

	textarea {
		font-size: 14px;
		width: 968px;
		height: 300px;
	}
}
