.btn {
  padding: 5px;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
}
.btn-peter-river {
  background-color: #3498db;
}
.btn-peter-river:hover {
  background-color: #2980b9;
}
.btn-emerald {
  background-color: #2ecc71;
}
.btn-emerald:hover {
  background-color: #27ae60;
}
.btn-sm {
  padding: 3px;
}
a {
  text-decoration: none;
}
a.link-turquoise {
  color: #1abc9c;
}
a.link-turquoise:hover {
  color: #16a085;
}
a.link-sun-flower {
  color: #f1c40f;
}
a.link-sun-flower:hover {
  color: #f39c12;
}
a.link-carrot {
  color: #e67e22;
}
a.link-carrot:hover {
  color: #d35400;
}
a.link-amethyst {
  color: #9b59b6;
}
a.link-amethyst:hover {
  color: #8e44ad;
}
input[type="text"],
input[type="password"] {
  border: 1px solid #aaa;
  font-size: 14px;
  padding: 5px;
  font-family: "WenQuanYi Micro Hei", "Microsoft YaHei", sans-serif;
}
input[type="submit"] {
  border-style: solid;
  border-width: 0;
}
.clear:after {
  content: ".";
  display: block;
  font-size: 0;
  height: 0;
  clear: both;
  visibility: hidden;
}
.clear {
  zoom: 1;
}
body {
  margin: 0;
  padding: 0;
  font-family: "WenQuanYi Micro Hei", "Microsoft YaHei", sans-serif;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
p {
  margin: 0;
  padding: 0;
}
hr {
  border-width: 0;
  border-bottom: 1px solid #eee;
  clear: both;
}
.panel {
  -webkit-box-shadow: #666666 0px 0px 3px;
  -moz-box-shadow: #666666 0px 0px 3px;
  box-shadow: #666666 0px 0px 3px;
  zoom: 1;
}
