<div class="panel">
    <div>
        <a guestid="{{ comment.guest.id }}" name="comment-{{ comment.guest.id }}" class="text text-orange guest">{{ comment.guest.guestname }}</a>
        {% if comment.ref %}
        <a href="#comment-{{ comment.ref.id }}" class="link link-peter-river">@ {{ comment.ref.guestname }}</a>
        {% end %}
        {% if current_user %}
        <span class="text text-clouds">{{ comment.guest.email }}</span>
        <span class="text text-clouds">{{ comment.guest.homepage }}</span>
        {% end %}
        <span>{{ comment.time }}</span>
        <a href="" class="link link-peter-river reply" style="">回复</a>
        {% if current_user %}
        <form style="display:inline;" class="delete" action="/article/{{ article.id }}/comment/{{ comment.id }}/" method="post">
            <input type="submit" class="link link-alizarin" value="删除"/>
            <input name="_method" value="delete" type="hidden"/>
        </form>
        {% end %}
    </div>
    <div>{{ comment.content }}</div>
</div>